.top {
    border-bottom: 2px groove (internal value);
    }
.butom{   
}
.button {
    position: absolute;
    width: 320px;
    height: 60px;
    left: 33px;
    top: 440px;
    background-color: #6BC0AC;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 70px;
    }