.txt{
    position: absolute;
    display:flex;
    justify-content: center;
    left: 50%;
    top: 25%;
    transform: translate(-50%,-50%);

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;

    color: #000000;
}
.button{
    position: absolute;
    display: flex;
    justify-content: center;
    transform: translate(-50%,-50%);
    width: 270px;
    height: 66.39px;

    left: 50%;
    top: 45%;
    background-color: white;
    border: 0cm;
}
.img{
    width :100%;
}