.logo{
    margin-top: 7%;
    margin-left: 8%;
}
.copyRight{
    color: #ABABAB;
    font-size: 12px;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 0px;
    left: 0px;

}

.bottomTap{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
}
.home{
    background-color: white;
    border-top: 1px solid #ABABAB;
    border-bottom: 0px solid white;
    border-left: 0px solid white;
    border-right: 0px solid white;
}
.info{
    background-color: white;
    border-top: 1px solid #ABABAB;
    border-bottom: 0px solid white;
    border-left: 0px solid white;
    border-right: 0px solid white;

}
.my{
    background-color: white;
    border-top: 1px solid #ABABAB;
    border-bottom: 0px solid white;
    border-left: 0px solid white;
    border-right: 0px solid white;

}

