{% extends 'nav.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!--CSS link-->
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    
</head>

<body>
    <div class="box">
                <div class="top">
                    <span id ="information">자전거 거치정보</span>
                    <div id="circle"></div>
                    <span id="status">거치중</span>
                </div>
                <div class="butom">
                        <p class="gray" id="position">자전거 위치</p>
                        <p id="parkingPlace">기숙사 12번
                            <span id="safety">안전</span>
                        </p>
                        <P class="gray">거치시간</P>
                        <span>2022년 7월 22일 13:20</span>
                </div>
    </div>
    <div class="buttonBox">   
        <button class="button">거치 해제하기</button>
    </div>

</body>
</html>
{% endblock %}
