{% extends 'nav.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!--CSS link-->
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    
</head>

<body>
    <div class="box">
                <div class="top">
                    <span id ="information">자전거 거치정보</span>
                    {% if user.is_authenticated %}
                    <div id="circle"></div>
                    <span id="status">거치중</span>
                    {% endif %}
                </div>
                <div class="bottom">
                        {% if user.is_authenticated %}
                        {% if brack.position is not null %}
                        <span class="gray">자전거 위치</span><br></br>
                        <div id="parkingPlace">
                            <span>{{ brack.position }}번</span>
                            <div id="safety">안전</div>
                        </div>
                        <P class="gray">거치 시간</P>
                        <span>{{ brack.bycicle.rack_time }}</span>
                        {% else %}
                        <span class="login_ment">등록된 자전거 정보가 없습니다</span>
                        {% endif %}
                        {% else %}
                        <span class="login_ment">로그인 해주세요</span>
                        {% endif %}
                </div>
    </div>
    {% if user.is_authenticated %}
    {% if brack.position is not null %}
    <div class="buttonBox">   
        <button class="button" onclick="location.href='{% url 'remove' %}'">거치 해제하기</button>
        
    </div>
    {% endif %}
    {% endif %}

</body>
</html>
{% endblock %}
