{% extends 'nav.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <!--CSS link-->
    <link rel="stylesheet" herf="{% static 'css/login.css' %}" type="text/css" />
</head>
<body>
    <div><h3><bold>알림을 받으시려면<br>자전거를 등록해 보세요</h3></bold></div>
    <br><br><br><br><br>
    <button><img src="C:\Users\JHS\Desktop\kakao_login_medium_narrow.png"/></button>
</body>
</html>
{% endblock %}