{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!--CSS link-->
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
    <!--logo-->
    <div class="logo" ><img src="{% static 'img/logo.svg' %}" alt="logo is not load"></div>
</head>
<body>
    {% block content %}
    {% endblock %}
    <p class="copyRight">©TheB-rack</p>
</body>
<footer class="bottomTap">
    <a href="{% url 'home' %}" class="home"><img src="{% static 'img/homeTap.svg' %}" alt=""></a>
    <a href="#" class="info"><img src="{% static 'img/infoTap.svg' %}" alt=""></a>
    {% if access_token is not null %}
    <a href="{% url 'login' %}" class="my"><img src="{% static 'img/myTap.svg' %}" alt=""></a>
    {% else %}
    <a href="{% url 'login' %}" class="my"><img src="{% static 'img/login.svg' %}" alt=""></a>
    {% endif %}
</footer>
</html>